source /boot/grub/config.cfg

# Live boot
menuentry "Try Or Install GXDE (Newer Kernel)" --hotkey=t {
	linux	/live/vmlinuz boot=live components quiet splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (fail-safe mode) (Newer Kernel)" --hotkey=t {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788 locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (Stable Kernel)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components quiet splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (fail-safe mode) (Stable Kernel)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788 locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

