set default=0

loadfont $prefix/unicode.pf2
set gfxmode=auto
insmod all_video
insmod gfxterm
insmod png

set color_normal=light-gray/black
set color_highlight=white/black

if [ -e /isolinux/splash.png ]; then
    # binary_syslinux modifies the theme file to point to the correct
    # background picture
    set theme=/boot/grub/live-theme/theme.txt
elif [ -e /boot/grub/splash.png ]; then
    set theme=/boot/grub/live-theme/theme.txt
else
    set menu_color_normal=cyan/blue
    set menu_color_highlight=white/blue
fi

terminal_output gfxterm

insmod play
play 960 440 1 0 4 440 1

# Live boot
menuentry "Try Or Install GXDE (Newer Kernel)" --hotkey=t {
	linux	/live/vmlinuz boot=live components quiet splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (fail-safe mode) (Newer Kernel)" --hotkey=t {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788 locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (Stable Kernel)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components quiet splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img-oldstable
}

menuentry "Try Or Install GXDE (fail-safe mode) (Stable Kernel)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788 locales=zh_CN.UTF-8
	initrd	/live/initrd.img-oldstable
}

